
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                  <a class="navbar-brand" href="/afm">Dream +</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/afm">Home
                              <span class="sr-only">(current)</span>
                            </a>
                      </li>
                      <li class="nav-item">
                        <a href="/afm/intro" class="nav-link" href="#">Introduction</a>
                      </li>
                      <li class="nav-item">
                        <a href="/afm/cm" class="nav-link">Community</a>
                      </li>
                      <li class="nav-item">
                        <a href="/users/info" class="nav-link"><%= name %></a>
                      </li>
                      <li class="nav-item">
                        <a href="/users/logout" class="nav-link">Logout</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              
              <header>
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                      <!-- Slide One - Set the background image for this slide in the line below -->
                      <div class="carousel-item active" style="background-image: url('images/Dreamlogo.png')">
                        <div class="carousel-caption d-none d-md-block">
                          <h3 class="display-4 text-dark">Dream plus</h3>
                          <p class="lead text-muted">건양대학교 융합IT 동아리입니다. Four-leaf Clover 와 Daon 의 총칭입니다.</p>
                        </div>
                      </div>
                      <!-- Slide Two - Set the background image for this slide in the line below -->
                      <div class="carousel-item" style="background-image: url('images/turtlebot2.JPG')">
                        <div class="carousel-caption d-none d-md-block">
                          <h3 class="display-4 text-white">Four-leaf Clover</h3>
                          <p class="lead">Turtlebot을 이용한 자율주행</p>
                        </div>
                      </div>
                      <!-- Slide Three - Set the background image for this slide in the line below -->
                      <div class="carousel-item" style="background-image: url('https://i.pinimg.com/originals/63/83/33/6383335dbe1d7d41f4dd57c7880ddebb.jpg')">
                        <div class="carousel-caption d-none d-md-block">
                          <h3 class="display-4 text-white">Daon</h3>
                          <p class="lead">Fuse툴을 이용해 App 개발을 위주로 하는 동아리</p>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                  </div>
                </header>
    
    <footer class="py-5">
        <div class="container">
          <h1 class="font-weight-light">DREAM +</h1>
          <p class="lead">건양대학교 DREAM + 동아리입니다. 주로 Fuse를 사용한 앱 개발과 ROS 를 활용한 로봇 공부를 주로 하고 있습니다.</p>
        </div>
    </footer>